<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ gara.titolo }} - Reparto Informatica</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <nav>
            <a href="{{ url_for('competizioni') }}" class="btn-primary">← Torna alle competizioni</a>
        </nav>
    </header>

    <main class="cont-dettaglio">
        <article class="card-dettaglio">
            <span class="badge">Competizione</span>
            <h1>{{ gara.titolo }}</h1>

            <div class="info-meta">
                <p><strong>📅 Data:</strong> {{ gara.data }}</p>
            </div>

            <div class="descrizione">
                <h3>Descrizione</h3>
                <p>{{ gara.descrizione }}</p>
            </div>

            <div class="azioni">
                <a href="{{ gara.link }}" target="_blank" class="btn-primary">Sito Ufficiale</a>
            </div>
        </article>
    </main>
</body>

</html>